.list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}
.payment-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}
.main-title {
  color: $text-color;
}
