$header-color: #4c84ff;
$secondary-color: #2ecc71;
$background-color: #20242a;
$text-color: #ffffff;
$icon-fone: #30363e;
$under-line: #1c1a1a;
$button-red: #f9484b;
$balance-color: #2d69eb;
$balance-number-color: #4c84ff;
$processing: #c69516;
$active: #00ba61;
$performed: #2658d7;
$popular: #2d69eb;
$trusted: #fc3d40;
